.button {
  border: none;
  background-color: $button-color;
  color: $header-footer-hero-color;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  cursor: pointer;
}
